/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: ;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 339; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
}
    /* HSL color mode */

:root{
    /* --first-color: hsl((var(--hue-color), 100%, 48%);
    --first-color-second: hsl((var(--hue-color), 100%, 48%);
    --first-color-alt: hsl((var(--hue-color), 88%, 40%);
    --first-color-lighter: hsl((var(--hue-color), 100%, 48%);
    --title-color: hsl((var(--hue-color), 8%, 15%);
    --text-color: hsl((var(--hue-color), 8%, 45%);
    --text-color-light: hsl((var(--hue-color), 8%, 65%);
    --input-color: hsl((var(--hue-color), 70%, 96%);
    --body-color: hsl((var(--hue-color), 60%, 61%);
    --container-color: #FFF; */

    --first-color: hsl(var(--hue-color), 100%, 48%);
    --first-color-second: hsl(var(--hue-color), 100%, 48%);
    --first-color-alt: hsl(var(--hue-color), 88%, 40%);
    --first-color-lighter: hsl(var(--hue-color), 47%, 89%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 2%, 24%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
}
    /*========== Font and typography ==========*/
:root{
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
}
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
:root{
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}
    /*========== z index ==========*/
:root{
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}


/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size: var(--h1-font-size);
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover{
    color: var(--first-color);
}

.nav-toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-link:hover{
    color: var(--first-color);
}

.nav-icon{
    font-size: 1.2rem;
}

.nav-close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home-container{
    gap: 1rem;
}

.home-content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home-social-icon:hover{
    color: var(--first-color-alt);
}

.home-blob{
    width: 200px;
    fill: var(--first-color);
}

.home-blob-img{
    width: 200px;
}

.home-data{
    grid-column: 1/3;
}

.home-title{
    font-size: var(--big-font-size);
}

.home-subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home-description{
    margin-bottom: var(--mb-2);
}

.home-scroll{
    display: none;
}

.home-scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home-scroll-button:hover{
    transform: translateY(0.25rem);
}

.home-scroll-mouse{
    font-size: 2rem;
}

.home-scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow{
    font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button-white{
    background-color: #fff;
    color: var(--first-color);
}

.button-white:hover{
    background-color: #fff;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

.button-small{
    padding: .75rem 1rem;
}

.button-link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button-link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/

.about-img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about-description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about-info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about-info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about-info-name{
    font-size: var(--smaller-font-size);
}

.about-info-name,
.about-info-title{
    display: block;
    text-align: center;
}

.about-button{
    display: flex;
    justify-content: center;
}

/*==================== SKILLS ====================*/

.skills-container{
    row-gap: 0;
}

.skills-header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills-icon,
.skills-arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills-icon{
    margin-right: var(--mb-0-75);
}

.skills-title{
    font-size: var(--h3-font-size);
}

.skills-subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills-arrow{
    margin-left: auto;
    transition: .4s;
}

.skills-list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills-bar,
.skills-percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills-bar{
    background-color: var(--first-color-lighter);
}

.skills-percentage{
    display: block;
    background-color: var(--first-color);
}

.skills-python{
    width: 90%;
}
.skills-cpp{
    width: 80%;
}
.skills-js{
    width: 70%;
}
.skills-html{
    width: 90%;
}
.skills-css{
    width: 85%;
}
.skills-flask{
    width: 80%;
}
.skills-django{
    width: 85%;
}
.skills-react{
    width: 80%;
}
.skills-vanilla{
    width: 85%;
}
.skills-restf{
    width: 80%;
}
.skills-linux{
    width: 85%;
}
.skills-bash{
    width: 70%;
}
.skills-server{
    width: 90%;
}
.skills-pg{
    width: 80%;
}
.skills-mysql{
    width: 90%;
}

.skills-close .skills-list{
    height: 0;
    overflow: hidden;
}

.skills-open .skills-list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills-open .skills-arrow{
    transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification-tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification-button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification-button:hover{
    color: var(--first-color);
}

.qualification-icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification-title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification-subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification-calender{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification-line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content]{
    display: none;
}

.qualification-active[data-content]{
    display: block;
}

.qualification-button.qualification-active{
    color: var(--first-color);
}

/*==================== SERVICES ====================*/

.services-container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services-content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}

.services-content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services-icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services-title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services-button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services-button:hover .button-icon{
    transform: translateX(.25rem);
}

.services-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden; 
    transition: .3s;
}

.services-modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services-modal-services{
    row-gap: 1rem;
}

.services-modal-service{
    display: flex;
}

.services-modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services-modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services-modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

/* Active Modal */

.active-modal{
    opacity: 1;
    visibility: visible;
}

/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/
.project{
    text-align: center;
}

.project-bg{
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project-title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project-description{
    margin-bottom: var(--mb-1-5);
}

.project-title,
.project-description{
    color: #fff;
}

.project-img{
    width: 232px;
    justify-self: center;
}

/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/

.contact-container{
    row-gap: 3rem;
}

.contact-information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact-icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact-subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact-content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact-label{
    font-size: var(--smaller-font-size);
}

.contact-input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */